{% extends 'base.html.twig' %}

{% block title %}New ProjectOwner{% endblock %}

{% block body %}
    <h1 class="text-xl text-primary">Create new ProjectOwner</h1>

    {{ include('project_owner/_form.html.twig') }}

    <a href="{{ path('app_project_owner_index') }}">back to list</a>
{% endblock %}
